@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

.main-div{
    /* background: linear-gradient(45deg, #D4EBF8, #0A3981); */
    /* background-image: url("https://img.freepik.com/free-vector/gradient-blue-background_23-2149350177.jpg?t=st=1739429035~exp=1739432635~hmac=b093276bd8e58aeff01e4ab2e484db71b528489e0fb467b0e3da4b7f25fb7cb9&w=740"); */
    background-image: url("https://img.freepik.com/free-vector/bokeh-background_23-2148486863.jpg?t=st=1739429544~exp=1739433144~hmac=cbeb0147498fa7c9641334caa2b17d80074258c30dbf2b54e1a9b70ace711c9c&w=740");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head{
    text-align: center;
    font-size: 1.9rem;
    color: #fff;
    margin-bottom: 10px;
}

.searchbox {
    margin: 20px 0 35px 0;
}
input{
   border: none;
   padding: 5px 20px;
   font-size: 14px;
   border-radius: 5px;
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.11);
   outline: none;
}

.card-div{
    position: relative;
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff80;
    backdrop-filter: blur(10px);
    border-radius: 0.8rem;
    transition: 0.5s;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.11);
}

.card-div:hover{
    height: 220px;
}

.imgbox{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 170px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.35);
    transition: 0.5s;
}

.card-div:hover .imgbox{
    width: 170px;
    height: 180px;
}

.imgbook{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card-div .content{
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cardhead{
    font-size: 18px;
    text-align: center;
    color: rgb(49, 49, 49);
}
